<div id="<%= dom_id course %>" class="container">

  <p>
    <label class="form-label">course_number:</label>
    <%= course.course_number %>
  </p>

  <p>
    <label class="form-label">Title:</label>
    <%= course.title %>
  </p>

  <p>
    <label class="form-label">Description:</label>
    <%= course.description %>
  </p>

  <p>
    <label class="form-label">Image url:</label>
    <%= course.image_url %>
  </p>

  <p>
    <label class="form-label">Credit:</label>
    <%= course.credit %>
  </p>

</div>

