<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control"%>
  </div>

  <div>
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, rows:10, class: "form-control"%>
  </div>

  <div>
    <%= form.label :image_url, class: "form-label" %>
    <%= form.text_field :image_url, class: "form-control"%>
  </div>

  <div>
    <%= form.label :credit, class: "form-label" %>
    <%= form.text_field :credit, class: "form-control" %>
  </div>
  <br/>
  <div>
    <%= form.submit %>
  </div>
<% end %>
